<a href="https://colab.research.google.com/github/just-suraj-j/Python_Basics/blob/main/Python_Tutorials01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction**

High level, interpreted programming language which is object oriented.<br>
Open source, extensible, embeddable and portable.

**Features**<br>
Object Oriented<br>
Dynamically typed<br>
Easy to learn<br>
Interpreted

**Coding in python**<br>
Immediate mode (python shell)<br>
Script mode(notepad + command prompt)<br>
IDE(Jupyter lab, Jupyter Notebook, spyder)

**Keywords**

Reserved words <br>
cannot be used as variable name, function name and identifiers<br>
Case sensitive

**Identifiers**

names given to enities such as class, function and variables<br>
lowercase a-z<br>
uppercase A-Z<br>
digits 0-9 <br>
underscore _ <br>

**Constraints for identifiers**
cannot start with digits <br>
no keywords<br>
no special characters or symbols

![image.png]()

In [1]:
#1 False
print(2==5)

False

In [2]:
#2 True
print(2<5)

True

In [4]:
#3 None
print(None==None)
print(None==0)
print(None==[])
print(None=="")
print(None==False)

True
False
False
False
False

In [8]:
#3 def
def a_void_func():
  a=1
  b=1
  c=a+b

x=a_void_func()
print(x)

None

In [9]:
#4 return
def my_func():
  a=1
  b=2
  c=a+b
  return c

x=my_func()
print(x)

3

In [10]:
#5,6,7 and, or, not
print(True and False)
print(True or False)
print(not False)

False
True
True

In [11]:
#8,9 import as
import math as my_math

In [12]:
print(my_math.cos(my_math.pi))

-1.0

In [14]:
#10 assert
assert 5>10

AssertionError: ignored

In [16]:
assert 5<10

In [17]:
for i in range(1,15):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [21]:
for i in range(1,15):
  if i==12:
    break
  print(i)

1
2
3
4
5
6
7
8
9
10
11

In [22]:
for i in range(1,15):
  if i==12:
    continue
  print(i)

1
2
3
4
5
6
7
8
9
10
11
13
14

In [23]:
#class

class example:
  def my_fun(parameters):
    print("Func1 executing")
  def my_func2(parameters):
    print("Func2 executing")

ob1= example()
ob1.my_fun()
ob1.my_func2()

Func1 executing
Func2 executing

In [2]:
#pass
def my_new_func(parameters):
  pass

my_new_func(10)

In [3]:
#del
a=10
print(a)

10

In [4]:
del a
print(a)

NameError: ignored

In [5]:
#if.. elif..else

num=2
if num==1:
  print('One')
elif num==2:
  print('Two')
else:
  print('Three')

Two

In [8]:
#try raise catch finally
try:
  x=9
  raise ZeroDivisionError
except:
  print("zero division not possible")
finally:
  print("Execution successfull")

zero division not possible
Execution successfull

In [9]:
for i in range(0,9,2):
  print(i)

0
2
4
6
8

In [11]:
#from

import math

from math import cos
print(cos(10))

-0.8390715290764524

In [18]:
#global var
globalvar=20

def read():
  print('In read block',globalvar)
def write1():
  globalvar=10
  print('In write1 block',globalvar)
def write2():
  global globalvar
  globalvar=15
  print('In write2 block update',globalvar)
def write3():
  globalvar=10
  print('In write3 block',globalvar)

read()
write1()
write2()
write3()
read()

In read block 20
In write1 block 10
In write2 block update 15
In write3 block 10
In read block 15

In [19]:
#list
a=[1,2,3,4]
print(a)
print(4 in a)
print(5 not in a)

[1, 2, 3, 4]
True
True

In [27]:
#lambda
x=[1,2,3,4,5,6,7,8,9,10]
a=lambda x:x*5

for i in range(0,len(x)):
  print(a(x[i]))

5
10
15
20
25
30
35
40
45
50

In [28]:
#lambda again
a=[1,2,(5,10),20]

my_lamb=lambda x:print(x)

for i in range(0, len(a)):
  my_lamb(a[i])

1
2
(5, 10)
20

In [33]:
#nonlocal

def func():
  a=20
  print(a)
  def inner():
    nonlocal a
    a=5
    print(a)
  inner()
def outer():
  print(a)

func()
outer()

20
5
20

In [34]:
def sumtwo(a,b):
  return(a+b)
sumtwo(2,5)

7

In [35]:
#while

i=10

while(i!=0):
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1

In [36]:
#with

with open('example.txt','w') as my_file:
  my_file.write('This is a text file. write operation execution. message1')

In [38]:
with open('example.txt','r') as my_file:
  print(my_file.read())

This is a text file. write operation execution. message1

In [39]:
#yield

def generator():
  for i in range(1,10):
    yield(i*i)

g=generator()
for i in g:
  print(i)

1
4
9
16
25
36
49
64
81